
.background-container-landing{
    display: flex;
    flex-direction: column;
    height: 110vh;
    background-color: #0099CC;
    padding-top: 5%;
   
}

.inner-container-text{
    display: flex;
    padding-left: 20%;
    padding-top: 15%;
    height: 170%;
}

.text-large{
    font-size: 400% !important;
    font-weight: 1000 !important;
}

.text-custom-style{
    font-size: 250% !important;
    font-weight: 1000 !important;
    font-style: italic;
    padding-left: 0%;
}

.image-text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding-top: 5%;
}

.image-box-container{
    display: flex;
    width: 80%;
    height: 100%;
    border-radius: 47%;
    background-image: url('../image/ictimage.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: space-around;
}

.text-line-container{
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    top:20%;
    position: absolute;
}

@media only screen and (max-width:800px){
    .image-box-container{
        width: 60%;
    }
    .text-large{
        font-size: 250% !important;
    }
    .text-custom-style{
        font-size: 150% !important;
    }
}

@media only screen and (max-width:500px){
    .image-box-container{
        width: 70%;
        height: 70%;

    }
}