.container-custom-outer{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-size: cover;
  
}


/* .image-container-custom{
    display: flex;
    width: 100%;
    background-color: blue;
    height: 50%;
} */

.image-custom{
    height: 100%;
    width: 100%;
}

.card-box-container{
    display: flex;
    margin-top: 10%;
    background-color:transparent;
    height: 65%;
    align-content: space-around;
    justify-content: center;
}

.card-custom{
    width: 80%;
    height:auto;
    border-width: 1 !important;
    border-color: black !important;
}

.grid-container{
    width: 80% !important;
    display: flex;
    padding-top:2%; 
    display: flex;

}

.box-custom{
    display: flex;
    width: 60% !important;
    height:auto;
    background-color:#ffff!important;
    border: 1.5px solid black;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.card-tittle-class{
    font-size: 120% !important;
    font-weight: 1000 !important;
    padding-top: 5%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
   
}

.grid-container-box{
    display: flex;
}

/* Adjust the margin-bottom for .list-item */
.list-item {
    margin-bottom: 5%;
}



.box-div-text-arrange-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    
}

.event-title-class{
    font-size: 120% !important;
    font-weight: 500 !important;
    margin-bottom: 2% !important;
}

.text2-style-class-time{
    font-size: 90% !important;
    font-weight: 400 !important;
    margin-bottom:2% !important ;
}

.text3-style-class-venue{
    /* fontSize:'80%',fontWeight:'500',marginBottom:'2%' */
    font-size: 80% !important;
    font-weight: 500 !important;
    margin-bottom:2% !important ;
}

.text4-style-class-description{
    /* style={{fontSize:'80%',fontWeight:'300',margin:'4%',fontStyle:'italic'}} */
    font-size: 80% !important;
    font-weight: 300 !important;
    margin: 4% !important;
    font-style: italic !important;
}

.button-view-style-class{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 1%;
   
    /* margin-top: 10%; */
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* .event-not-approved{

} */
.button-custom-style{
    background-color:#345C8B;
}

.grid-class-style{
    /* style={{backgroundColor:'lightgoldenrodyellow', display:'flex',justifyContent:'center'}} */
    display: flex;
    justify-content: center;
}

.pulish-event-text-style{
   
    font-size: 20px !important;
    color: rgb(255, 253, 253) !important;
}

.button-custom-delete-style{
    background-color :red !important;
    margin-left: 10px !important;
    
}



/* @media only screen and (max-width:800px){
    .status-text{
        padding-top: 10px !important;
    }
   
} */

@media screen and (max-width: 767px) {
    .container-custom-outer {
      /* Adjust background size for smaller screens */
      background-size: contain;
    }
    .button-view-style-class{
        flex-direction: column;
    }
  }