.registration-container{
    background-color:#F0F8E1;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-container{
    
    display: flex;
    align-self: center;
    width: 90%;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;

}
.grid-form-container{
    padding-left: 10%;
    margin-right: 5%;
    
} 
.button-custom-class{
    margin-left: 30%;
    width: 2%;
    background-color: cadetblue !important;
}


.workshoplist-container{
  
    display: flex;
    padding-top: 3%;
}


.label-textbox-container{
    display: flex;
    flex-direction: column;

}

.label-custom{
    white-space: nowrap;
    width: 30%;
  margin-bottom: 4px;
  color: #333;
  font-size: 14px;
  font-weight: 300;
}

.text-field-container{
    width: 70%;
    height: 100% !important;
    border-width:1;
}

.tittle-custom-style{
    /* display: flex; */
    /* position: absolute; */
    top:20%;
    padding-left: 37%;
    align-self: center;
   padding-bottom: 5%;
}

.bottom-button-container{
    padding-bottom: 5%;
}

.workshop-item{
    /* background-color: #d3d3d3; */
    margin-bottom: 10px;
    padding: 10px;
   

    
}

/* @media only screen and (max-width:1000px){
    .button-custom-class{
        margin-left: 50%;
        background-color: blue;
    }
} */

@media only screen and (max-width:500px){
    .registration-container{
       margin-top: 15%;
    }
    .tittle-custom-style{
        white-space: nowrap;
       padding-left: 7%;
        
    }

    .button-custom-class{
       margin-left: 15% !important;
    }
}