.custom-container-outer{
   min-height: 100vh;
   background-color: #E8F5F8;
   display: flex;
   justify-content: center;

  
}

.inner-container-box{

    display: flex;
    width: 80%;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 10%;
}

@media only screen and (max-width:500px){

.inner-container-box{
    width: 90%;
}
}

.card-with-graph{
    width: 100%;
    background-color: #FFFFFF !important;
}

.barchart-card-title{
   padding-top: 3%;
    padding-left: 7%;
    color: darkblue;
    font-weight: 900 !important;
}