
.dialog-content-container{
    /* padding: 2%;
    margin: 2%; */
}
.text-field-container{
    width: 400px;
}

.text-field-custom{
    padding: 2%;
}

@media only screen and (max-width:500px){
    .text-field-container{
        width: auto;
    }
}